@font-face{
    font-family:Poppins-Bold ;
    src: url(../Module\ 1/font/poppins-bold.ttf);
}
@font-face{
    font-family: "Noto Sans", sans-serif;
    src: url(../Module\ 1/font/NotoSans-VariableFont_wdth,wght.ttf);
}

body{
     
   font-family: "Noto Sans", sans-serif;
   background-color: ghostwhite;
   margin: 0px; 
}

/* section 1:  */

section{
    height: 700px;
}

.top-banner{
    background-image: url(bg\ pic.png);
    background-repeat: no-repeat;
    


    
   
}
.margin{
   
    margin-left: 10%;

}

.top-banner img{
    width: 95%;
    height: auto;
    
}

.first{
   
    width:50%;
    float: left;
    
}

.web-name{
    padding-top: 12%;
}

h1{
    font-size: 55px;
    font-family: poppins-bold;
}
.name-highligh{
    color: rgb(64, 149, 230);
}


.button-div{
    margin-top: 30px;
}

.button {
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(45deg,lightSalmon, tomato);
    color: white;
    border-radius: 5px;
    width: 90px;
    height: auto; 
     
}



/* section 2:  */

.ii-baner img{
    
    width: 80%;
    height: auto;
}

.ii-baner{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
    
}

#netxt{
    margin-top: 150px;
}

/* section 3:  */


.iii-baner{
    margin-left: 8%;
    margin-right: 3%;
    margin-top: 0%;
    
    
}

.web-box{
    width: 43%;
    height: 200px;
    box-shadow: 10px 10px 40px gray  ;
    margin-right: 3%;
    padding: 10px;
    border-radius: 7px;
    border-left: 8px solid ;
    border-image: linear-gradient(180deg, lightblue, blue);
    border-image-slice: 1;
}


/* footer */


h4{
    text-align: center;
    margin-top: 150px;
}
